.main-news--container .news-container--slides .news-permanent--2x1 .arrow-right, .main-news--container .news-container--slides .news-covid--policies .arrow-left, .main-products--container .products-container--plans .plan-card--container .arrow-left, .main-products--container .products-container--plans .plan-card--container .arrow-right {
    width: 0px;
    height: 0px;
}
.main-news--container .news-container--slides .news-permanent--2x1, .main-news--container .news-container--slides .news-covid--policies {
    min-width: 50%;
}
.main-news--container .news-container--slides .news-permanent--2x1 .permanent-2x1--title {
    right: 0;
}
.main-news--container .news-container--slides .news-covid--policies .covid-policies--title {
    left: 0;
}