:root {
    --warmblack: #201E1C;
    --warmblackplus: #282623;
    --offwhite: #FAF8F7;
    --justwhite: #FFFFFF;
    --grey: #BABABA;
    --reddragon: #c80b21;
    --princeblue: #181463;
    --blueball:#2955DC;
    --goldpride: #F3A903;
    --vegibrown: #A56106;
    --saiyanyellow: #F9EE54;
    --header: linear-gradient(180deg, #A56106, #F3A903);
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    font-size: 62.5%;
    font-family: 'Open sans', sans-serif;
}
header {
    padding-top: 20px;
    width: 100%;
    height: 62vh;
    background: var(--header);
}
.header-logo--container .header-logo--zgym {
    display: block;
    width: 140px;
    height: 60px;
    margin: 0 auto;
}
.header-logo--container .header-logo--zgym p {
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
    color: var(--goldpride);
    text-shadow: -1px -1px 1px black, 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
}
.header-logo--container .header-logo--zgym #Y {
    color: var(--reddragon);
}
.header-logo--container .header-logo--zgym span {
    position: relative;
    left: 4px;
    top: 1px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../assets/icons/Z.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-logo--container, .header--title {
    position: relative;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
}
.header-logo--container h1 {
    margin-top: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warmblackplus);
}
.header--title {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    color: var(--warmblack);
}
main {
    width: 100%;
    min-height: 250px;
    height: auto;
}
.main-news--container {
    position: relative;
    width: 100%;
    min-width: 250px;
    height: 340px;
    background: var(--reddragon);
    text-align: center;
}
.main-news--container .news-to--products {
    z-index: 2;
    position: absolute;
    top: -20px;
    left: calc(50% - 110px);
    width: 220px;
    height: 40px;
    font-family: 'Lato';
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 0.6rem;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);   
}
.main-news--container .news-to--products span {
    position: relative;
    left: 1px;
    top: 1px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../assets/icons/expand_arrow_down.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-news--container .news-container--slides {
    display: flex;
    width: 100%;
    height: 340px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-news--container .news-container--slides .news-permanent--2x1 {
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    min-width: 320px;
    max-width: 700px;
    height: 340px;
    text-align: right;
}
.main-news--container .news-container--slides .news-permanent--2x1 .permanent-2x1--title {
    position: relative;
    top: 20px;
    right: 10px;
    display: inline-block;
    z-index: 1;
    width: 172px;
    height: 300px;
    padding: 20px;
    padding-right: 20px;
    text-align: center;
}
.main-news--container .news-container--slides .news-permanent--2x1 .permanent-2x1--title h2 {
    padding-top: 20px;
    font-size: 4rem;
    font-weight: bold;
    color: var(--goldpride);
    text-shadow: -1px -1px 1px black, 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
}
.main-news--container .news-container--slides .news-permanent--2x1 .permanent-2x1--title p {
    padding-top: 45px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: var(--warmblack);
}
.main-news--container .news-container--slides .news-permanent--2x1 .vegeta--shadow {
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 0;
    display: inline-block;
    width: 160px;
    height: 320px;
    background-image: url(../assets/imgs/vegeta_punch_shadow_small.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-news--container .news-container--slides .news-permanent--2x1 .arrow-right {
    position: absolute;
    right: 5px;
    top: calc(50% - 10px);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/expand_arrow_right.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-news--container .news-container--slides .news-covid--policies {
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    min-width: 320px;
    max-width: 700px;
    height: 340px;
    text-align: left;
    background-image: url(../assets/imgs/policies_covid_small.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-news--container .news-container--slides .news-covid--policies .covid-policies--title {
    position: relative;
    top: 20px;
    left: 15px;
    display: inline-block;
    z-index: 1;
    width: 172px;
    height: 300px;
    padding: 20px;
    padding-right: 20px;
    text-align: center;
}
.main-news--container .news-container--slides .news-covid--policies .covid-policies--title h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--warmblack);
}
.main-news--container .news-container--slides .news-covid--policies .covid-policies--title p {
    padding-top: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: var(--warmblackplus);
}
.main-news--container .news-container--slides .news-covid--policies .arrow-left {
    position: absolute;
    left: 5px;
    top: calc(50% - 10px);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/expand_arrow_left.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-features--container {
    position: relative;
    width: 100%;
    min-width: 250px;
    height: 720px;
    background: var(--warmblackplus);
    text-align: center;
}